<template>
    <div class="main-container">
        <h1>Beaujolais Nouveau Contest !!!</h1>
        <div v-if="!started" class="flex-column new-contest-container">
            <h2>Add people</h2>
            <form @submit="addName">
                <label>
                    <input type="text" placeholder="@INSTA_PROFILE" v-model="instaName"/>
                    <button type="submit"><img src="images/icons8-plus_2_math_filled.png" alt="add"/></button>
                </label>
            </form>
            <ol>
                <li v-for="(value, i) in values" :key="i">
                    <span>{{value}}</span>
                    <img @click="values.splice(i, 1)" src="images/icons8-railroad_crossing_sign.png" alt="delete"/></li>
            </ol>
            <button class="start" type="button" @click="start">START!</button>
        </div>
        <div :class="{hidden: !started}" class="flex-raw start-contest-container">
            <img class="left-logo" src="images/cheers.gif" width="200"/>
            <div :style="randomContainerStyle" class="random-container">
                <div ref="randoms" :style="randomStyle" class="random-values">
                    <p class="random-value" v-for="(value, i) in values" :key="i">{{value}}</p>
                </div>
            </div>
            <img class="logo" src="images/b_nouveau_logo.png" width="200"/>
        </div>
        <img class="card-logo" src="images/card_beaujolais.jpg" width="300"/>
    </div>
</template>

<script>
    // @ is an alias to /src

    export default {
        name: 'home',
        components: {},
        mounted() {
            /* setTimeout(async () => {

            }, 500) */
        },
        computed: {
            randomContainerStyle() {
                return `height: ${this.childHeight}px`
            },
            randomStyle() {
                return `transform: translateY(${this.yPosition}px)`
            }
        },
        data() {
            return {
                started: false,
                yPosition: 0,
                maxHeight: 0,
                childHeight: 0,
                values: [],
                instaName: ''
            }
        },
        methods: {
            addName(e) {
                e.preventDefault();


                this.values.push(this.instaName.startsWith('@')
                    ? this.instaName.toUpperCase()
                    : `@${this.instaName.toUpperCase()}`);

                this.instaName = ''
            },
            start() {
                this.childHeight = Math.max(...Array.from(this.$refs.randoms.children).map((child) => child.clientHeight));
                this.maxHeight = this.$refs.randoms.clientHeight;
                this.spin();

                setTimeout(() => this.started = true, 200);
            },
            async spin() {
                await this.shuffle();

                const spinsNumber = 6;
                let spins = 0;

                let step = 0;

                const interval = setInterval(() => {
                    if (spins < spinsNumber) {

                        if (spins < spinsNumber / 2 + 1) {
                            step++
                        } else {
                            step = (spinsNumber - spins) * Math.round(this.childHeight / 5.5);
                        }

                        if (this.yPosition - step > -(this.maxHeight - this.childHeight)) {
                            this.yPosition -= step;
                        } else {
                            spins++;
                            if (spins < spinsNumber) {
                                this.yPosition = 0;
                            } else {
                                this.yPosition = -(this.maxHeight - this.childHeight);
                            }

                        }
                    } else {
                        this.$refs.randoms.lastElementChild.className += " winner";
                        clearInterval(interval);
                    }
                }, 40);
            },
            shuffle() {
                return new Promise(resolve => {
                    let currentIndex = this.values.length, temporaryValue = null, randomIndex = null;

                    // While there remain elements to shuffle...
                    while (0 !== currentIndex) {

                        // Pick a remaining element...
                        randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex -= 1;

                        // And swap it with the current element.
                        temporaryValue = this.values[currentIndex];
                        this.values[currentIndex] = this.values[randomIndex];
                        this.values[randomIndex] = temporaryValue;
                    }

                    resolve()
                })
            }
        }
    }
</script>

<style lang="scss">

    .flex-raw {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .start-contest-container.hidden {
        visibility: hidden;
        opacity: 0;
        overflow: hidden;
        height: 0;
    }

    .new-contest-container {
        min-width: 50vw;

        h2 {
            font-size: 3vw;
            margin-top: 0;
            margin-bottom: 1vh;
            color: white;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
        }

        form {
            width: 100%;
            max-width: 500px;

            label {
                display: flex;
                width: 100%;
                border-radius: 11px;
                border: 2px solid #cc2366;
                background-color: #cc2366;
                height: 7vh;

                input {
                    border-radius: 10px 0 0 10px;
                    outline: none;
                    border: none;
                    padding: 10px;
                    width: calc(75% - 20px);
                    font-size: 2vh;
                }

                button {
                    border-radius: 0 10px 10px 0;
                    padding: 0;
                    width: 25%;
                    border: none;
                    outline: none;

                    img {
                        cursor: pointer;
                    }
                }
            }
        }

        ol {
            list-style: none;
            width: 100%;
            max-width: 500px;
            padding: 0;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 5px;

                span {
                    font-size: 1.2vh;
                    color: white;
                    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
                }

                img {
                    max-height: 1.9vh;
                    width: auto;
                    background: white;
                    border-radius: 100%;
                    cursor: pointer;
                }
            }
        }

        button.start {
            background-color: #E9832B;
            border: 1px solid #E9832B;
            color: white;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
            font-size: 2vH;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 15px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: white;
                color: #E9832B;
                transition: all 0.2s ease-in-out;
            }
        }
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        background: linear-gradient(45deg, #bc1888 0%, #cc2366 25%, #dc2743 50%, #e6683c 75%, #f09433 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);

        h1 {
            font-size: 6vw;
            color: white;
            margin-top: 0;
            margin-bottom: 15vh;
            text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
        }

        .left-logo {
            max-width: 20%;
            margin-right: 1%;
            max-height: 20vh;
            width: auto;
        }

        .logo {
            animation: spin 1.5s ease-in-out;
            animation-delay: 0.5s;
            animation-iteration-count: infinite;
            max-width: 20%;
            margin-left: 1%;
            max-height: 20vh;
            width: auto;
        }

        .card-logo {
            max-width: 40%;
            max-height: 30vh;
            width: auto;
            margin-top: 12vh;
        }

        .random-container {
            height: 63px;
            overflow: hidden;

            .random-values {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                p {
                    color: white;
                    //text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.2);
                    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
                    font-weight: bold;
                    padding: 8px 0;
                    margin: 0;
                    font-size: 6vw;
                    text-align: center;
                }

                p.winner {
                    animation: heartbeat 0.9s infinite;
                    animation-delay: 0.5s;
                }
            }
        }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes heartbeat {
        0% {
            transform: scale(.75);
        }

        20% {
            transform: scale(1);
        }

        40% {
            transform: scale(.75);
        }
        60% {
            transform: scale(1);
        }

        80% {
            transform: scale(.75);
        }

        100% {
            transform: scale(.75);
        }
    }
</style>
